.post {
    width: 100%;
    box-shadow: 3px 7px -10px #404755;
    border-radius: 10px;
    margin: 30px 0;
}

.postWrapper {
    padding: 10px;
}

.postProfileImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.postTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.postTopLeft {
    display: flex;
    align-items: center;
}

.postUsername {
    font-weight: 550;
    margin-left: 15px;
    margin: 0 10px;
}

.postDate {
    font-size: 12px;
    color: #8c8c8c;
}

.postCenter {
    margin-top: 20px 0;
}

.postImg {
    margin-top: 20px;
    width: 100%;
    max-height: 400px;
    object-fit: contain;
}

.postBotttom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.postBotttomLeft {
    display: flex;
    align-items: center;
}

.likeIcon {
    width: 24px;
    height: 24px;
    margin-right: 5px;
    cursor: pointer;
}

.postLikeCounter {
    font-weight: 500;
    margin-left: 5px;
}

.postCommentText {
    cursor: pointer;
    border-bottom: 1px solid #8c8c8c;
}